NODE_ENV=production
DB_USER=
DB_PASSWORD=
DB_NAME=
PORT=3000

PGADMIN_EMAIL=
PGADMIN_PASSWORD=

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=sua_chave_secreta_de_32_caracteres_aqui

JWT_SECRET=sua_chave_secreta_aqui

EMAIL=seu_email_aqui
GMAIL_APP_PASSWORD=sua_senha_de_app_aqui

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=nome_do_seu_cloudinary_aqui
NEXT_PUBLIC_CLOUDINARY_API_KEY=sua_api_key_do_cloudinary_aqui
CLOUDINARY_API_SECRET=sua_chave_secreta_do_cloudinary_aqui
