services:
  db:
    container_name: db_agencia_comunica
    image: postgres:latest
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "12345"
      POSTGRES_DB: "agenciacomunica_db"
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  app:
    build: .
    container_name: app_agencia_comunica
    restart: always
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgresql://postgres:12345@db:5432/agenciacomunica_db
    # env_file:
    #   - .env.docker
    depends_on:
      db:
        condition: service_healthy

volumes:
  db_data:
